<div class="areas" style="display:none;">
  <h5 itemprop="name">We cover all of {{ title }} including:</h5>
  <ul itemscope itemtype="http://schema.org/ItemList">
    <li>
      <a href="/areas-covered/berkshire/">Berkshire</a>
    </li>
    <li>
      <a href="/areas-covered/barnet/">Barnet</a>
    </li>
    <li>
      <a href="https://www.monstereventhire.co.uk/areas-covered/hammersmith/">Hammersmith</a>
    </li>
    <li>
      <a href="/areas-covered/lewisham/">Lewisham</a>
    </li>
    <li>
      <a href="/areas-covered/hampshire/">Hampshire</a>
    </li>
    <li>
      <a href="/areas-covered/harrow/">Harrow</a>
    </li>
    <li>
      <a href="/areas-covered/london/">London</a>
    </li>
    <li>
      <a href="/areas-covered/croydon/">Croydon</a>
    </li>
    <li>
      <a href="/areas-covered/hounslow/">Hounslow</a>
    </li>
    <li>
      <a href="/areas-covered/sutton/">Sutton</a>
    </li>
    <li>
      <a href="/areas-covered/surrey/">Surrey</a>
    </li>
    <li>
      <a href="https://www.monstereventhire.co.uk/areas-covered/ealing/">Ealing</a>
    </li>
    <li>
      <a href="/areas-covered/islington/">Islington</a>
    </li>
    <li>
      <a href="/areas-covered/wandsworth/">Wandsworth</a>
    </li>
    <li>
      <a href="/areas-covered/west-sussex/">West Sussex</a>
    </li>
    <li>
      <a href="/areas-covered/enfield/">Enfield</a>
    </li>
    <li>
      <a href="/areas-covered/kensington/">Kensington</a>
    </li>
    <li>
      <a href="https://www.monstereventhire.co.uk/areas-covered/westminster/">Westminster</a>
    </li>
    <li>
      <a href="/areas-covered/brent/">Brent</a>
    </li>
    <li>
      <a href="https://www.monstereventhire.co.uk/areas-covered/greenwich/">Greenwich</a>
    </li>
    <li>
      <a href="https://www.monstereventhire.co.uk/areas-covered/chelsea/">Chelsea</a>
    </li>
    <li>
      <a href="/areas-covered/richmond-upon-thames/">Richmond upon Thames</a>
    </li>
  </ul>
</div>
