<div class="testimonial-item">
  <div class="testimonial-body">
    <p>Dear Joanne,</p>
    <p>Please do pass on my thanks and best wishes to the two guys who set up and took down the equipment on Friday night. They were a real credit to your company, polite, courteous and hard working and made everything seamless.</p>
    <p>Arranging a BBQ for over 120 children and adults is quite stressful but with their professionalism, everything ran smoothly.</p>
    <p>Best wishes</p>
    <p>Matt &#8211; Head of Boarding (SLT)</p>
    <p>&nbsp;</p>
  </div>
  <div class="testimonial-client-name"></div>
</div>
