                <div class="areas_hire">
                  <h4>Event Hire {{ title }}</h4>
                  <ul>
                    <li>
                      <a href="/categories/inflatable-assault-courses-hire/">Assault Course Hire</a> {{ title }}
                    </li>
                    <li>
                      <a href="/categories/bouncy-castles/">Bouncy Castle Hire</a> {{ title }}
                    </li>
                    <li>
                      <a href="/categories/adults-bouncy-castles/">Adult Bouncy Castle Hire</a> {{ title }}
                    </li>
                    <li>
                      <a href="/categories/inflatables-hire/">Large Inflatable Hire</a> {{ title }}
                    </li>
                    <li>
                      <a href="/products/laser-quest-hire/">Laser Quest Event Hire</a> {{ title }}
                    </li>
                    <li>
                      <a href="/categories/photo-booths/">Photo Booth Hire</a> {{ title }}
                    </li>
                    <li>
                      <a href="/categories/sports-competitive/">Corporate Event Hire</a> {{ title }}
                    </li>
                    <li>
                      <a href="/products/big-balls-challenge/">Big Balls Challenge</a> {{ title }}
                    </li>
                    <li>
                      <a href="/products/laser-clay-pigeon-shooting/">Laser Clay Pigeon Shooting</a> {{ title }}
                    </li>
                  </ul>
                  <h4>Party Hire {{ title }}</h4>
                  <ul>
                    <li>
                      <a href="/categories/bungee/">Bungee Trampoline Hire</a> {{ title }}
                    </li>
                    <li>
                      <a href="/categories/inflatable-assault-courses-hire/">Army Assault Course Hire</a> {{ title }}
                    </li>
                    <li>
                      <a href="/categories/photo-booths/">Green Screen Dream Machine Hire</a> {{ title }}
                    </li>
                    <li>
                      <a href="/products/laser-quest-hire/">Laser Quest Hire</a> {{ title }}
                    </li>
                    <li>
                      <a href="/categories/rodeo-rides/">Rodeo Bull Hire</a> {{ title }}
                    </li>
                    <li>
                      <a href="/categories/wipeout-challenge/">Total Wipeout Hire</a> {{ title }}
                    </li>
                    <li>
                      <a href="/products/party-marquees/">Party Marquee Hire</a> {{ title }}
                    </li>
                    <li>
                      <a href="/products/dance-machine/">Dance Machine Hire</a> {{ title }}
                    </li>
                  </ul>
                </div>
