<aside class="grid-4-12 sidebar">
  <div class="widget widget-contact-details">
    <h3>Contact details</h3><i class="fa fa-phone-square orange"></i> <span class="sidebar-phone">02392 788 427</span> <span class="sidebar-email"><i class="fa fa-envelope orange"></i> <span id="e864249365"><a href="mailto:hello@monstereventhire.co.uk">hello@monstereventhire.co.uk</a></span>
</span>
  </div><a href="/contact-us/" class="sidebar-enquire enquiry-button orange-bg"><span class="icon envelope"></span>Get in touch</a>
  <div class="widget widget-bestsellers">
    <h3><i class="fa fa-star yellow"></i>&nbsp; Our best sellers</h3>
    <ul>
      <li class="featured-product clearfix" itemscope itemtype="http://schema.org/Product">
        <a itemprop="url" href="/allproducts/christmas-party-entertainment/magic-selfie-mirror/"><img src="/images/uploads/2025/04/IMG-20180615-WA0008.jpeg" alt="Magic Selfie Mirror"></a>
        <h4><a href="/allproducts/christmas-party-entertainment/magic-selfie-mirror/"><span itemprop="name">Magic Selfie Mirror</span> <span class="read-more">View &raquo;</span></a></h4><span class="item-data"><span itemprop="description"></span></span>
        <p><span class="item-data">&#x2728; Magic Selfie Mirror Hire – Monster Event Hire Make your event unforgettable with our Magic Selfie Mirror Hire! This interactive mirror combines photos, animations, and personalised touches to create a fun, stylish, and memorable&hellip;</span></p><span itemprop="image">/images/uploads/2025/04/IMG-20180615-WA0008.jpeg</span> <span itemprop="sku">2284</span> <span itemprop="productID">magic-selfie-mirror-2284</span>
      </li>
      <li class="featured-product clearfix" itemscope itemtype="http://schema.org/Product">
        <a itemprop="url" href="/all-products/games/the-sweeper/"><img src="/images/uploads/2015/11/sweeper2-2.jpg" alt="The Last Man Standing, Sweeper (Total Wipeout)"></a>
        <h4><a href="/all-products/games/the-sweeper/"><span itemprop="name">The Last Man Standing, Sweeper (Total Wipeout)</span> <span class="read-more">View &raquo;</span></a></h4><span class="item-data"><span itemprop="description"></span></span>
        <p><span class="item-data">The Last Man Standing, Sweeper (Total Wipeout) Made popular by the TV show &#8216;Total Wipeout&#8217;, The Last Man Standing, Sweeper is perfect for all events. This inflatable fun-fest features an inflatable bed with a swinging&hellip;</span></p><span itemprop="image">/images/uploads/2015/11/sweeper2-2.jpg</span> <span itemprop="sku">519</span> <span itemprop="productID">last-man-standing-sweeper-519</span>
      </li>
      <li class="featured-product clearfix" itemscope itemtype="http://schema.org/Product">
        <a itemprop="url" href="/all-products/electronic-game-hire/dance-machine/"><img src="/images/uploads/2015/12/dancemachine.jpg" alt="Dance machine Hire"></a>
        <h4><a href="/all-products/electronic-game-hire/dance-machine/"><span itemprop="name">Dance machine Hire</span> <span class="read-more">View &raquo;</span></a></h4><span class="item-data"><span itemprop="description"></span></span>
        <p><span class="item-data">&#x1f483; Dance Machine Hire – Monster Event Hire Add non&#8209;stop energy and fun to your event with our Dance Machine Hire! Whether you're planning a birthday party, school disco, corporate event, festival, or family celebration,&hellip;</span></p><span itemprop="image">/images/uploads/2015/12/dancemachine.jpg</span> <span itemprop="sku">91</span> <span itemprop="productID">dance-machine-hire-91</span>
      </li>
      <li class="featured-product clearfix" itemscope itemtype="http://schema.org/Product">
        <a itemprop="url" href="/all-products/party-favourites/green-screen-dream-machine/"><img src="/images/uploads/2015/11/photo-booth1.jpg" alt="Green Screen Dream Machine photo booth"></a>
        <h4><a href="/all-products/party-favourites/green-screen-dream-machine/"><span itemprop="name">Green Screen Dream Machine photo booth</span> <span class="read-more">View &raquo;</span></a></h4><span class="item-data"><span itemprop="description"></span></span>
        <p><span class="item-data">Say cheese! The Green Screen Dream Machine is the ultimate party and wedding photo booth.</span></p>
        <p><span class="item-data">Choose from over 800 background combinations in what is probably the most advanced photo booth in the world.</span></p>
        <p><span class="item-data">Using a touch screen HD display users initially choose from one of the 7 mode options below.</span></p><span itemprop="image">/images/uploads/2015/11/photo-booth1.jpg</span> <span itemprop="sku">557</span> <span itemprop="productID">green-screen-dream-machine-photo-booth-557</span>
      </li>
    </ul>
  </div>
</aside>
