<footer class="dark-grey-bg">
  <div class="colour-border clearfix">
    <div class="grid-3-12 orange-bg"></div>
    <div class="grid-3-12 yellow-bg"></div>
    <div class="grid-3-12 green-bg"></div>
    <div class="grid-3-12 blue-bg"></div>
  </div>
  <div id="upper-footer">
    <div class="footer_section">
      <div class="sitetitle">
        <h6><span>Monster</span></h6>
      </div>
      <div class="callus">
        <h6>Give us a call</h6><span class="phone-number">02392 788 427</span>
      </div>
      <div class="enquire">
        <a class="button orange-bg enquiry-button" href="/contact-us/"><span class="icon envelope"></span>Get In Touch</a>
      </div>
      <div id="social" class="social">
        <ul>
          <li class="facebook">
            <a href="https://www.facebook.com/pages/Little-Monsters-Event-Hire/1507418012864764" target="_blank"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="twitter">
            <a href="https://twitter.com/LMonsters_event" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="copyright_footer">
      <nav>
        <span>Legals</span>
        <div class="close-icon legals-close">
          Close <span class='icon hamburger'></span>
        </div>
        <div class="menu-footer-legals-container">
          <ul id="menu-footer-legals" class="menu">
            <li id="menu-item-61" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-61">
              <a href="/terms-conditions/">Terms &#038; conditions</a>
            </li>
            <li id="menu-item-60" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-60">
              <a href="/privacy-policy/">Privacy policy</a>
            </li>
            <li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59">
              <a href="/cookie-policy/">Cookie policy</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="copyright_text">
        Copyright 2019 | Little Monster Event Hire Limited. All rights reserved
      </div>
    </div>
  </div>
</footer>
