{%- assign currentPage = pagination.pageNumber | plus: 1 -%}
{%- assign totalPages = pagination.pages.size -%}
{%- if currentPage > 1 -%}
{%- assign prevPage = currentPage | minus: 1 -%}
{%- if prevPage == 1 -%}<a href="/testimonials/">Previous</a>{%- else -%}<a href="/testimonials/page/{{ prevPage }}/">Previous</a>{%- endif -%}
{%- endif -%}
{%- for i in (1..totalPages) -%}
{%- if i == currentPage -%}<span class='current pages-item'>{{ i }}</span>{%- elsif i == 1 -%}<a href='/testimonials/' class='inactive pages-item'>{{ i }}</a>{%- else -%}<a href='/testimonials/page/{{ i }}/' class='inactive pages-item'>{{ i }}</a>{%- endif -%}
{%- endfor -%}
{%- if currentPage < totalPages -%}
{%- assign nextPage = currentPage | plus: 1 -%}
<a href="/testimonials/page/{{ nextPage }}/">Next</a>
{%- endif -%}
